In [ ]:
import pandas as pd
import io
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# csv file download  link: https://drive.google.com/file/d/1wFWeMCnhk4e0wWGgvtY0uVS6FqVoxK6A/view?usp=sharing
# /content/drive/MyDrive/Study/Routine/v36.csv

# url='/content/drive/MyDrive/Study/Routine/sp1.csv'
# url='/content/drive/MyDrive/Study/Routine/spr23_v1_head.csv'
url='/content/drive/MyDrive/Study/Routine/spr23_v1.csv'
# dd=pd.read_csv(url)
dd=pd.read_csv(url)
L=[]
for line in open(url):          #Open the file and read all the lines
    x=line.rstrip()                  #Strip the \n from each line
    L.append(x.split(','))       #Split each line into a list and add it to the Multidimensional array
# print(L)
ds2=L

In [ ]:
# dd.head

In [ ]:
print("Batch:",end=' ')
# batch=input()
batch='54'


print("Section:",end=' ')

# section=input().upper()
section='E'

what_to_search=batch+'_'+section

what_to_search

Batch: Section:

'54_E'

In [ ]:
#function for calculating day from TI Part 
def day(roww):
  r=roww
  day_track=0 
  for i in range(r,0,-1): 
    for ii in range(27): 
      if('day' in ds2[i][13]): 
        if(day_track==0): 
          print('Day= ',ds2[i][13]) 
          day_track=1 
          break

day(10)

Day=  Saturday

In [ ]:
# updated on 22-09-22
# bug fixed: on v36
#  bug: if(counter==0)
# solution:  if((counter==0) and (len(ds2[iii][c])<15 )): 

def time(row,col):
  counter=0 
  r=row 
  c=col 
  for iii in range(r,0,-1): 
    if((':' in ds2[iii][c])): 
      if((counter==0) and (len(ds2[iii][c])<15 )): 
        print('Class Time=        ', ds2[iii][c]) 
        counter=1

time(10,13)

Class Time=         12:30-01:30

In [ ]:
def course_code_and_section(row,col):
  r=row 
  c=col
  print('Coure Code and Section=  ',ds2[r][c-2])

course_code_and_section(22,9)

Coure Code and Section=   CSE135(62-G)

In [ ]:
def class_room(r,c):
  if(pd.isnull(dd.loc[r][c-3])):  
    #jodi 2 col pichoner row faka thake tokhn 
    #tokhn sei row er value e print kore dibe 
    print('Class Room= ', ds2[r][c-3])   
    
  else: 
    #else tar uporer row we value print hbe
    print('Class Room= ',ds2[r-1][c-3])  
  
class_room(12,9)

Class Room=  AB04-501(A)

In [ ]:
def day(roww):
  r=roww
  day_track=0 
  for i in range(r,0,-1): 
    for ii in range(27): 
      if('day' in ds2[i][13]): 
        if(day_track==0): 
          print('Day= ',ds2[i][13]) 
          day_track=1 
          break

day(10)     #only row number dilei holo

Day=  Saturday

In [ ]:
def course_code_and_section(row,col):
  r=row 
  c=col
  print('Coure Code and Section=  ',ds2[r][c])

# course_code_and_section(22,9)

def day(roww):
  r=roww
  day_track=0 
  for i in range(r,0,-1): 
    for ii in range(27): 
      if('day' in ds2[i][13]): 
        if(day_track==0): 
          print('Day= ',ds2[i][13]) 
          day_track=1 
          break 

def class_room(row,col):
  r=row
  c=col
  if('-' in ds2[r][c-1]):
    print('Vora')
    print(ds2[r][c-1])

  else:
    print('Faka')
    print(ds2[r-1][c-1] + ds2[r][c-1] +' '+ ds2[r+1][c-1] )  


  # if(pd.isnull(dd.loc[r][c-1])):  
  #   # print(dd.loc[r][c-1])
  #   # print(r,c-1)

  #   # print('Null  -1 Class Room=                            ', ds2[r-1][c-1])   
  #   print('Null r main Class Room=                            ', ds2[r][c-1])   
  #   # print('Null +1 Class Room=                            ', ds2[r+1][c-1])   
 
  # else: 
  #   # print(dd.loc[r][c-1])
  #   # print(r,c-1)

  #   print('Class Room=                      ',ds2[r-1][c-1] )  
  #   # print('Class Room =                      ',ds2[r-1][c-1] + ds2[r+1][c-1])  #with braket text
  #   # print('Full r Class Room=                            ',ds2[r][c-1])
  #   # print('Full +1 Class Room=                            ',ds2[r+1][c-1])

# ------------------Funtion End-----------------------#

# print("Batch:",end=' ')
# batch=input()
# print("Section:",end=' ')
# section=input().upper()
# what_to_search=batch+'_'+section
what_to_search="54_E"
end_loop_signal=0
total=0


for i in range (len(ds2)):
  for ii in range(0,len(ds2[i])-1):
    if('In case of any routine-related queries' in  ds2[i][ii] ):
      end_loop_signal=1
      break
    if(end_loop_signal==1): 
      break 

    elif(what_to_search in ds2[i][ii]):
      if(end_loop_signal==0):
        print('___________________________________')
        print('Location: ', ds2[i][ii], i, ii)
        total=total+1

        day(i)
        course_code_and_section(i,ii)
        print("TE: ", ds2[i][ii+1] )
        class_room(i,ii)
        # time(i,ii-2) 
# total_class(total)

___________________________________
Location:  CSE426(54_E) 224 13
Day=  Monday
Coure Code and Section=   CSE426(54_E)
TE:  MHI
Faka
AB04-613(DAFFODIL ROBOTICS LAB)
___________________________________
Location:  CSE498(54_E) 296 19
Day=  Monday
Coure Code and Section=   CSE498(54_E)
TE:  FZA
Vora
AB04-304
___________________________________
Location:  CSE427(54_E) 297 16
Day=  Monday
Coure Code and Section=   CSE427(54_E)
TE:  RS
Vora
AB04-305
___________________________________
Location:  CSE423(54_E) 306 1
Day=  Monday
Coure Code and Section=   CSE423(54_E)
TE:  LR
Vora
AB04-801
___________________________________
Location:  CSE427(54_E) 411 19
Day=  Tuesday
Coure Code and Section=   CSE427(54_E)
TE:  RS
Vora
AB04-306
___________________________________
Location:  CSE423(54_E) 417 1
Day=  Tuesday
Coure Code and Section=   CSE423(54_E)
TE:  LR
Vora
AB04-802
___________________________________
Location:  CSE498(54_E) 516 19
Day=  Wednesday
Coure Code and Section=   CSE498(54_E)
TE:  FZA
Vora
AB04-306
___________________________________
Location:  CSE426(54_E) 528 1
Day=  Wednesday
Coure Code and Section=   CSE426(54_E)
TE:  MHI
Vora
AB04-804

In [ ]:
i=5 
ii=20
print('Location: ', ds2[i][ii-1], i, ii)

Location:  02:30-03:30 5 20

In [ ]:
# Spring_2023_V1.0.pdf
# /content/drive/MyDrive/Study/Routine/Spring_2023_V1.0.pdf

**PDF to CSV**

In [ ]:
# https://colab.research.google.com/drive/1LQEis-wpxLmcOwmQ2FenshoU5eOhIfZX?usp=sharing

In [ ]:
# !pip install tabula-py

In [ ]:
# pip install --force-reinstall tabula-py

In [ ]:
# from tabula.io import read_pdf

In [ ]:
# pdf='/content/drive/MyDrive/Study/Routine/Spring_2023_V1.0.pdf'

In [ ]:
# # Import the required Module
# import tabula
# from tabula.io import read_pdf

# # Read a PDF File
# df = tabula.read_pdf(pdf, pages='all')[0]
# # convert PDF into CSV
# tabula.convert_into(pdf, "converted1.csv", output_format="csv", pages='all')
# df.head

In [ ]:
# df.to_csv('/content/drive/MyDrive/Study/Routine/Spring_2023_V1.0converted22.csv')