In [ ]:
import pandas as pd
import io
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# csv file download  link: https://drive.google.com/file/d/1wFWeMCnhk4e0wWGgvtY0uVS6FqVoxK6A/view?usp=sharing
# /content/drive/MyDrive/Study/Routine/v36.csv

# url='/content/drive/MyDrive/Study/Routine/v36.csv'
# dd=pd.read_csv(url)
url='/content/drive/MyDrive/Study/Routine/sp23_2.1.csv'

dd=pd.read_csv('/content/drive/MyDrive/Study/Routine/sp23_2.1.csv')
L=[]                 
for line in open(url):          #Open the file and read all the lines
    x=line.rstrip()                  #Strip the \n from each line
    L.append(x.split(','))       #Split each line into a list and add it to the Multidimensional array
# print(L)
ds2=L

In [ ]:
# ds2[: 8]

In [ ]:
def time(row,col):
  counter=0 
  r=row 
  c=col 
  for iii in range(r,0,-1): 
    if((':' in ds2[iii][c])): 
      if((counter==0) and (len(ds2[iii][c])<15 )): 
        print('Class Time='+' '*24 + ds2[iii][c]) 
        counter=1

# time(2,16)

def course_code_and_section(row,col):
  r=row 
  c=col
  print('Coure Code and Section=  ',ds2[r][c])

# course_code_and_section(22,9)

def day(roww):
  r=roww
  day_track=0 
  for i in range(r,0,-1): 
    for ii in range(27): 
      if('day' in ds2[i][13]): 
        if(day_track==0): 
          print('Day= '+ ' '*35 + ds2[i][13]) 
          day_track=1 
          break 

def class_room(row,col):
  r=row
  c=col
  if('-' in ds2[r][c-1]):         #Vorat
    print('Class Room= ', end=' '*22)
    print(ds2[r][c-1])

  else:                              #Faka
    print('Class Room= ', end=' '*22)
    print(ds2[r-1][c-1] + ds2[r][c-1] +' '+ ds2[r+1][c-1] )  


# ------------------Function Ends-----------------------#

print("Enter Batch (Such as 53):",end=' ')
batch=input()
print("Enter Section (Such as A or PC-A):",end=' ')
section=input().upper()
what_to_search=batch+'_'+section
# what_to_search="54_E"
end_loop_signal=0
total=0


for i in range (len(ds2)):
  for ii in range(0,len(ds2[i])-1):
    if('In case of any routine-related queries' in  ds2[i][ii] ):
      end_loop_signal=1
      break
    if(end_loop_signal==1): 
      break 

    elif(what_to_search in ds2[i][ii]):
      if(end_loop_signal==0):
        print('-'*95)
        # print('Location: ', ds2[i][ii], i, ii)
        total=total+1
        
        day(i)
        course_code_and_section(i,ii)
        print("TE= "+ ' '*37 + ds2[i][ii+1] )
        class_room(i,ii)
        time(i,ii) 
# total_class(total)o

In [ ]:
#function for calculating day from TI Part 
def day(roww):
  r=roww
  day_track=0 
  for i in range(r,0,-1): 
    for ii in range(27): 
      if('day' in ds2[i][13]): 
        if(day_track==0): 
          print('Day= ',ds2[i][13]) 
          day_track=1 
          break

day(520)

In [ ]:
# updated on 22-09-22
# bug fixed: on v36
#  bug: if(counter==0)
# solution:  if((counter==0) and (len(ds2[iii][c])<15 )): 

def time(row,col):
  counter=0 
  r=row 
  c=col 
  for iii in range(r,0,-1): 
    if((':' in ds2[iii][c] )): 
      if((counter==0) and (len(ds2[iii][c])<15 )): 

        print('Class Time=        ', ds2[iii][c]) 
        print(iii,c)
        counter=1

time(598,13)

In [ ]:
def course_code_and_section(row,col):
  r=row 
  c=col
  print('Coure Code and Section=  ',ds2[r][c-2])

course_code_and_section(171,9)

In [ ]:
def class_room():
  if(pd.isnull(dd.loc[r][c-3])):  
    #jodi 2 col pichoner row faka thake tokhn 
    #tokhn sei row er value e print kore dibe 
    print('Class Room= ', ds2[r][c-3])   
    
  else: 
    #else tar uporer row we value print hbe
    print('Class Room= ',ds2[r-1][c-3])

In [ ]:
# Day
# Course code and Section
# Room
# Time

def day(roww):
  r=roww
  day_track=0 
  for i in range(r,0,-1): 
    for ii in range(27): 
      if('day' in ds2[i][13]): 
        if(day_track==0): 
          print('Day=                                          ',ds2[i][13]) 
          day_track=1 
          break

def time(row,col):
  counter=0 
  r=row 
  c=col 
  for iii in range(r,0,-1): 
    if((':' in ds2[iii][c] )): 
      if((counter==0) and (len(ds2[iii][c])<15 )): 
        print('Class Time=                              ', ds2[iii][c]) 
        counter=1

def class_room(row,col):
  print(row,col)
  r=row
  c=col
  if(pd.isnull(dd.loc[r][c-3])):  
    print('Class Room=                            ', ds2[r][c-3])   
 
  else: 
    print('Class Room=                            ',ds2[r-1][c-3])  
  

def course_code_and_section(row,col):
  r=row 
  c=col
  print('Coure Code and Section=    ',ds2[r][c-2])

def total_class(total):
  if(total>0):
    print('___________________________________')
    print('\nTotal classes:                           ', total) 
  else: 
    print('___________________________________')
    print("\nNo teacher found by this Teacher Initial")


# ------------------Funtion End-----------------------#

total=0
what_to_search=input().upper()
end_loop_signal=0


for i in range (len(ds2)):
  for ii in range(0,len(ds2[i])-1):
    if('In case of any routine-related queries' in  ds2[i][ii-1] ):
      end_loop_signal=1
      break
    if(end_loop_signal==1): 
      break 

    elif(what_to_search == ds2[i][ii-1]):
      if(end_loop_signal==0):
        print('___________________________________')
        total=total+1

        day(i)
        course_code_and_section(i,ii)
        class_room(i,ii)
        time(i,ii-2)
        
total_class(total)

In [ ]:
url='/content/drive/MyDrive/Study/Routine/sp23_2.1.csv'
# dd=pd.read_csv(url)
dd=pd.read_csv(url)
L=[]
for line in open(url):          #Open the file and read all the lines
    x=line.rstrip()                  #Strip the \n from each line
    L.append(x.split(','))       #Split each line into a list and add it to the Multidimensional array
# print(L)
ds2=L

In [ ]:
def time(row,col):
  counter=0 
  r=row 
  c=col 
  for iii in range(r,0,-1): 
    if((':' in ds2[iii][c])): 
      if((counter==0) and (len(ds2[iii][c])<15 )): 
        print('Class Time='+' '*24 + ds2[iii][c]) 
        counter=1

# time(10,13)

def course_code_and_section(row,col):
  r=row 
  c=col
  print('Coure Code and Section=  ',ds2[r][c])

# course_code_and_section(22,9)

def day(roww):
  r=roww
  day_track=0 
  for i in range(r,0,-1): 
    for ii in range(27): 
      if('day' in ds2[i][13]): 
        if(day_track==0): 
          print('Day= '+ ' '*35 + ds2[i][13]) 
          day_track=1 
          break 

def class_room(row,col):
  r=row
  c=col
  if('-' in ds2[r][c-1]):         #Vorat
    print('Class Room= ', end=' '*22)
    print(ds2[r][c-1])

  else:                              #Faka
    print('Class Room= ', end=' '*22)
    print(ds2[r-1][c-1] + ds2[r][c-1] +' '+ ds2[r+1][c-1] )  


# ------------------Function Ends-----------------------#

print("Enter Batch (Such as 53):",end=' ')
batch=input()
print("Enter Section (Such as A or PC-A):",end=' ')
section=input().upper()
what_to_search=batch+'_'+section
# what_to_search="54_E"
end_loop_signal=0
total=0


for i in range (len(ds2)):
  for ii in range(0,len(ds2[i])-1):
    if('In case of any routine-related queries' in  ds2[i][ii] ):
      end_loop_signal=1
      break
    if(end_loop_signal==1): 
      break 

    elif(what_to_search in ds2[i][ii]):
      if(end_loop_signal==0):
        print('-'*95)
        # print('Location: ', ds2[i][ii], i, ii)
        total=total+1
        
        day(i)
        course_code_and_section(i,ii)
        print("TE= "+ ' '*37 + ds2[i][ii+1] )
        class_room(i,ii)
        time(i,ii) 
# total_class(total)

In [ ]:
def time(row,col):
  counter=0 
  r=row 
  c=col 
  for iii in range(r,0,-1): 
    if((':' in ds2[iii][c])): 
      if((counter==0) and (len(ds2[iii][c])<15 )): 
        print('Class Time='+' '*24 + ds2[iii][c]) 
        counter=1

# time(10,13)

In [ ]:

def course_code_and_section(row,col):
  r=row 
  c=col
  print('Coure Code and Section=  ',ds2[r][c])

# course_code_and_section(22,9)

In [ ]:

def day(roww):
  r=roww
  day_track=0 
  for i in range(r,0,-1): 
    for ii in range(27): 
      if('day' in ds2[i][13]): 
        if(day_track==0): 
          print('Day= '+ ' '*35 + ds2[i][13]) 
          day_track=1 
          break

In [ ]:

def class_room(row,col):
  r=row
  c=col
  if('-' in ds2[r][c-1]):         #Vorat
    print('Class Room= ', end=' '*22)
    print(ds2[r][c-1])

  else:                              #Faka
    print('Class Room= ', end=' '*22)
    print(ds2[r-1][c-1] + ds2[r][c-1] +' '+ ds2[r+1][c-1] )  


# ------------------Function Ends-----------------------#

In [ ]:
# print("Enter Batch (Such as 53):",end=' ')
# batch=input()
print("Enter Teacher Initial: ",end=' ')
section=input().upper()
what_to_search=section
# what_to_search="54_E"
end_loop_signal=0
total=0


for i in range (len(ds2)):
  for ii in range(0,len(ds2[i])-1):
    if('In case of any routine-related queries' in  ds2[i][ii] ):
      end_loop_signal=1
      break
    if(end_loop_signal==1): 
      break 

    elif(what_to_search in ds2[i][ii]):
      if(end_loop_signal==0):
        print('-'*95)
        # print('Location: ', ds2[i][ii], i, ii)
        total=total+1
        
        day(i)
        course_code_and_section(i,ii)
        print("TE= "+ ' '*37 + ds2[i][ii+1] )
        class_room(i,ii)
        time(i,ii) 
# total_class(total)o

In [ ]:
print('hi')

hi

In [ ]:
for bow in range()